# ignore all files and hidden folders
*.*
# ignore data
data/*
# unignore:
## .gitignore
!.gitignore
## notebooks, python scripts
!*.ipynb 
!*.py
!*.yml

## txt
!*.txt

## images
!*.png
!*.svg
!*.pdf
