autoray
awkward
arff
cotengra
cotengrust
gpustat
graphviz
h5py
httpcore
httpx
ipykernel
ipython
ipywidgets
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
matplotlib
matplotlib-inline
mpmath
networkx
ninja
numba
numpy
opt-einsum
optuna
pandas
Pillow
psutil
qtorch==0.3.0
requests
scikit-learn
scipy
seaborn
skunk
torch
torchaudio
torchinfo
torchvision
torchviz
tqdm
uproot
uri-template
urllib3
wget